@model Lombiq.HelpfulExtensions.Extensions.Workflows.ViewModels.GenerateResetPasswordTokenTaskViewModel

<div class="mb-3" asp-validation-class-for="UserPropertyKey">
    <label asp-for="UserPropertyKey">@T["User Property Key"]</label>
    <input type="text" asp-for="UserPropertyKey" class="form-control"></input>
    <span asp-validation-for="UserPropertyKey"></span>
    <span class="hint">@T["Key of the property in the Workflow context dictionary that contains the user's ID or the User object. If it's empty, it'll try to find the User object in the Workflow input. With Liquid support."]</span>
</div>
<div class="mb-3" asp-validation-class-for="ResetPasswordTokenPropertyKey">
    <label asp-for="ResetPasswordTokenPropertyKey">@T["Reset Password Token Property Key"]</label>
    <input type="text" asp-for="ResetPasswordTokenPropertyKey" class="form-control"></input>
    <span asp-validation-for="ResetPasswordTokenPropertyKey"></span>
    <span class="hint">@T["Key of the property in the Workflow context where this Task will set the reset password token to. Optionally, leave it empty and set the URL field. With Liquid support."]</span>
</div>
<div class="mb-3" asp-validation-class-for="ResetPasswordUrlPropertyKey">
    <label asp-for="ResetPasswordUrlPropertyKey">@T["Reset Password URL Property Key"]</label>
    <input type="text" asp-for="ResetPasswordUrlPropertyKey" class="form-control"></input>
    <span asp-validation-for="ResetPasswordUrlPropertyKey"></span>
    <span class="hint">@T["Key of the property in the Workflow context where this Task will set the reset password URL to. Optionally, leave it empty and set the token field. With Liquid support."]</span>
</div>
