@model Lombiq.HelpfulExtensions.Extensions.Workflows.ViewModels.GenerateResetPasswordTokenTaskViewModel

<div class="mb-3" asp-validation-class-for="UserExpression">
    <label asp-for="UserExpression">@T["User Expression"]</label>
    <input type="text" asp-for="UserExpression" class="form-control code" />
    <span asp-validation-for="UserExpression"></span>
    <span class="hint">@T["Enter a JavaScript expression that evaluates to the User object."]</span>
</div>
<div class="mb-3" asp-validation-class-for="ResetPasswordTokenPropertyKey">
    <label asp-for="ResetPasswordTokenPropertyKey">@T["Reset Password Token Property Key"]</label>
    <input type="text" asp-for="ResetPasswordTokenPropertyKey" class="form-control" />
    <span asp-validation-for="ResetPasswordTokenPropertyKey"></span>
    <span class="hint">@T["Optional key of the property in the Workflow context where this Task will set the reset password token to."]</span>
</div>
<div class="mb-3" asp-validation-class-for="ResetPasswordUrlPropertyKey">
    <label asp-for="ResetPasswordUrlPropertyKey">@T["Reset Password URL Property Key"]</label>
    <input type="text" asp-for="ResetPasswordUrlPropertyKey" class="form-control" />
    <span asp-validation-for="ResetPasswordUrlPropertyKey"></span>
    <span class="hint">@T["Optional key of the property in the Workflow context where this Task will set the reset password URL to."]</span>
</div>
