@using Lombiq.HelpfulExtensions.Extensions.OrchardRecipeMigration.Controllers

<h1>@T["Orchard 1 Recipe Migration"]</h1>

<form action="@Url.Action(nameof(OrchardRecipeMigrationAdminController.Convert))"
      enctype="multipart/form-data"
      method="post">

    <ol>
        <li>Go to Admin > Import/Export in the Orchard 1 site and select the Export tab.</li>
        <li>Tick <i>Content and Content Definition</i> and then the <i>Content</i> checkbox for the desired types, e.g. <i>Blog Post</i>, <i>Comment</i> and <i>Tag Node</i>.</li>
        <li>Click the <i>Export</i> button and save the <i>export.xml</i> file.</li>
        <li>Upload the file here to receive a converted <i>export.recipe.json</i> file.</li>
        <li>Go to Admin > Configuration > Import/Export > Package Import and upload the newly generated <i>export.recipe.json</i> file.</li>
    </ol>

    <div class="mb-3">
        <label for="file" class="form-label">@T["Select an Orchard 1 export.xml"]</label>
        <input id="file" type="file" name="file" class="form-control" accept=".xml" required>
    </div>

    <button type="submit" class="btn btn-primary">@T["Download Orchard Core Recipe"]</button>

    @Html.AntiForgeryToken()

</form>
